body {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 40px;

  background-color: #339CFF;
}
.overlay {
    position:fixed;
    display:none;

    /* color with alpha channel */
    background-color: rgba(0, 0, 0, 0.7); /* 0.7 = 70% opacity */

    /* stretch to screen edges */
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.form-note {
  position: absolute;
  top: 40%;
  left: 40%;
  margin-top: -50px;
  margin-left: -50px;
  width: 300px;
  height: 300px;
}
button {
  margin-top: 10px;
}
label {
  color: white;
}
input {
  width: 150px
}
img {
    margin-top: 10px;
    width: 30px;
    height: 30px;
}

input {
  width: 120px;
}
.dropdown {
  width : 150px;
  height : 30px;
}
.list {
  width: 150px;
  height: 100px;
  padding: 10px;
  background: white;
  color: black;
  margin-top: 10px;
  border-radius: 5px;
}

.card {
  width: 120px;
  margin-top: 10px;
  border-radius: 5px;
  z-index: 1;
}
